
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none" lines="full">
      <ion-text slot="start" class="font-size-30 font-bold-600" (click)="showcheckbox=!showcheckbox" *ngIf="!showcheckbox">Fournisseurs</ion-text>
      <ion-icon name="add-circle-outline" color="primary" size="large" (click)="newprovider()" *ngIf="appserv.permissionFilter('fournisseurs','add')" slot="end"></ion-icon>
      <ion-text slot="start" color="primary" (click)="showcheckbox=!showcheckbox; listselectedproviders=[];" *ngIf="showcheckbox">Terminer</ion-text>
      <ion-icon name="share-outline" slot="end" color="primary"  *ngIf="!showcheckbox" size="small" size="large"></ion-icon>
      <ion-icon name="download-outline" color="success" slot="end" [matMenuTriggerFor]="menuexport" *ngIf="!showcheckbox" size="small" size="large"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="showdefaultprogress" mode="ios" color="primary"></ion-progress-bar>
</ion-header>
<ion-content class="contentbody cartpreview-75">
  <ion-item lines="none" class="contentbody margin-left-moins-15">
    <ion-searchbar class="font-size-11"  mode="ios" placeholder="Recherche" [(ngModel)]="keyword"></ion-searchbar>
    <ion-icon name="filter-outline" slot="end" [matMenuTriggerFor]="animals2" color="primary"></ion-icon>
    <mat-menu #animals2="matMenu">
      <button mat-menu-item> <ion-text class="font-size-11" color="danger">Annuler le filtre</ion-text></button>
      <button mat-menu-item [matMenuTriggerFor]="menutypes"> <ion-text class="font-size-11">Type</ion-text></button>
    </mat-menu>
    <mat-menu #menutypes="matMenu">
      <button mat-menu-item > <ion-text class="font-size-11">Physique</ion-text></button>
      <button mat-menu-item > <ion-text class="font-size-11">Moral</ion-text></button>
    </mat-menu>

    <mat-menu #menuexport="matMenu">
      <button mat-menu-item ><ion-text class="font-size-11">Exporter en Excel</ion-text></button>
      <button mat-menu-item ><ion-text class="font-size-11">Exporter en PDF</ion-text></button>
    </mat-menu>
  </ion-item>

  <ion-item class="contentbody default-list-item" *ngFor="let provider of listproviders | filter:keyword" (click)="providermenu(provider)" lines="inset" detail="true">
    <ion-checkbox slot="start" *ngIf="showcheckbox" mode="ios" size="small"></ion-checkbox>
    <ion-avatar slot="start">
        <ion-img [src]="provider.photo?appserv.imgUrl+provider.photo:''" *ngIf="provider.photo"></ion-img>
        <ion-icon [name]="provider.type==='physique'?'person':provider.type==='moral'?'people':'person'" size="large" *ngIf="!provider.photo"></ion-icon>
    </ion-avatar>
    <ion-label>
      <p class="item-label-title">
        <ion-text>{{provider.providerName| titlecase}}</ion-text>
      </p>
      <p class="secondpara">
        <ion-text *ngIf="provider.type" >
          Type: {{provider.type | titlecase}}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border" [translucent]="true" *ngIf="showcheckbox && listselectedproviders.length>0 && appserv.permissionFilter('fournisseurs','delete')" >
  <ion-toolbar>
    <ion-item lines="none" class="font-size-14">
      <ion-text slot="start" color="danger" (click)="multipledelete()">Supprimer</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-footer>

