<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="chevron-back-outline" color="primary" (click)="closemodal()" slot="start" size="large"></ion-icon>
      <ion-text slot="start" class="font-size-14" color="primary">Nouveau client</ion-text>
      <ion-icon name="checkmark-outline" size="large" color="success" (click)="addnew()" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar mode="ios" type="indeterminate" *ngIf="showprogress" ></ion-progress-bar>
</ion-header>
<ion-content class="contentbody">
  <br>
  <div class="mobileform">
    <!-- <div class="userprofiltoedit ion-text-center">
      <ion-avatar style="margin:auto;">
        <ion-icon name="image-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-note class="font-size-12" color="primary">Ajouter une photo</ion-note>
    </div> -->
    <form class="contentbody form" [formGroup]="newcustomer">
      <ion-card mode="ios" class="ion-padding-top ion-padding-bottom">
        <ion-text class="font-size-12 ion-padding-start" color="primary">Cochez un Type</ion-text> 
        <br> <br>
        <ion-segment formControlName="type" mode="ios">
          <ion-segment-button value="physique">Physique</ion-segment-button>
          <ion-segment-button value="moral">Moral</ion-segment-button>
        </ion-segment>
      </ion-card>
      <ion-card mode="ios">
        <ion-item lines="full" class="font-size-12 contentbody">
          <ion-input [placeholder]="'Nom '+typesent" type="text" formControlName="customerName" #defaultinput></ion-input>
        </ion-item>
        
        <ion-item lines="full" class="font-size-12 contentbody">
          <ion-input placeholder="Téléphone" type="phone" formControlName="phone"></ion-input>
        </ion-item> 
        <ion-item lines="full" class="font-size-12 contentbody">
          <ion-input placeholder="Email" type="mail" formControlName="mail"></ion-input>
        </ion-item> 
        <ion-item lines="full" class="font-size-12 contentbody">
          <ion-input placeholder="Adresse" type="text" formControlName="adress"></ion-input>
        </ion-item>
  
        <ion-item lines="none" class="font-size-12 contentbody">
          <ion-select formControlName="category_id" placeholder="Catégorie">
            <ion-label>
              Catégorie
            </ion-label>
            <ion-select-option *ngFor="let categ of listcategories" [value]="categ.id">{{categ.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
    </form>
  </div>
</ion-content>

