<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon color="primary" name="chevron-back-outline" (click)="appserv.closemodal()" size="large" slot="start"></ion-icon>
      <h4 slot="start" class="font-bold-600 font-size-14">Sélectionner</h4>
      <ion-chip slot="end" (click)="valide()" color="secondary" [disabled]="listselectedcategories.length===0"><ion-icon name="checkmark-outline"></ion-icon></ion-chip>
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress" ></ion-progress-bar>
</ion-header>
<ion-content class="contentbody">
    <ion-searchbar mode="ios" placeholder="Recherche" class="font-size-12"></ion-searchbar>
  <ion-list class="contentbody">
    <ion-item lines="full"  (click)="addnewcategorie()" class="font-size-14 contentbody default-list-item">
      <ion-avatar class="default-avatar-item">
        <ion-icon name="add-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-text>Nouvelle catégorie</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full" *ngFor="let categ of listcategories" (click)="selected(categ)" class="font-size-14 contentbody">
      <ion-text slot="start">{{categ.category.name | titlecase}}</ion-text>
      <ion-icon slot="end" *ngIf="categ.selected"  name="checkmark-circle-outline" color="success" size="small"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>