<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
     <ion-icon name="chevron-back-outline" color="primary" slot="start" (click)="appserv.closemodal()"></ion-icon>
     <ion-text color="dark" slot="start">{{typesent==='entry'?"BON D'ENTREE CAISSE N° ":'BON DE SORTIE CAISSE N° '}} {{expendituresent.id}}</ion-text>
     <ion-icon name="print-outline" size="large" color="primary" slot="end" (click)="printOperation()"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress"></ion-progress-bar>
</ion-header>
<ion-content class="contentbody ion-padding" [fullscreen]="true">
  <br>
  <ion-card class=" bd-radius-10 margin-btm-15" mode="ios">
    <ion-item class="font-size-12" mode="ios" lines="full">
        <ion-text slot="start">Date Opération  </ion-text>
        <ion-note slot="end" class="font-bold-600">{{expendituresent.done_at | date}}</ion-note>
     </ion-item>  
     <ion-item class="font-size-12" mode="ios" lines="full">
        <ion-text slot="start">I.D Opération  </ion-text>
        <ion-note slot="end" class="font-bold-600">{{expendituresent.uuid}}</ion-note>
     </ion-item> 
     <ion-item class="font-size-12" mode="ios" lines="full">
        <ion-text slot="start">Montant </ion-text>
        <ion-note slot="end" class="font-bold-600">{{expendituresent.amount | number}} {{expendituresent.abreviation}}</ion-note>
     </ion-item>
     <ion-item class="font-size-12" mode="ios" lines="full">
        <ion-text slot="start">Libellé</ion-text>
        <ion-note slot="end" class="font-bold-600">{{expendituresent.motif | titlecase}}</ion-note>
     </ion-item>  
     <ion-item class="font-size-12" mode="ios" lines="full">
        <ion-text slot="start">Compte associé</ion-text>
        <ion-note slot="end" class="font-bold-600">{{expendituresent.account_name | titlecase}}</ion-note>
     </ion-item> 
     <ion-item class="font-size-12" mode="ios" lines="full">
        <ion-text slot="start">{{typesent==="entry"?"Provenance":"Bénéficiaire"}}</ion-text>
        <ion-note slot="end" class="font-bold-600">{{expendituresent.beneficiary_name | titlecase}}</ion-note>
     </ion-item>  
    
  </ion-card>
  
    <ion-item mode="ios" class="contentbody footeritem" lines="none">
      <ion-label>
        <h4 class="font-size-11"><ion-note>Créée le {{expendituresent.created_at | date}} par {{expendituresent.user_name | titlecase}}</ion-note></h4>
        <h4 class="font-size-11"><ion-note>Modifiée le {{expendituresent.updated_at | date}} </ion-note></h4>
      </ion-label>
  </ion-item>
</ion-content>



