<ion-header class="ion-no-border">
  <ion-toolbar class="contentbody">
    <ion-item lines="none" class="contentbody">
      <ion-icon slot="start" name="chevron-back-outline" (click)="appserv.closemodal()" color="primary"></ion-icon>
      <ion-icon name="print-outline" color="secondary" slot="end"></ion-icon>
      <!-- <ion-icon name="download-outline" color="success" slot="end" [matMenuTriggerFor]="menuexport"></ion-icon> -->
      <!-- <ion-icon name="share-outline" color="primary" slot="end"></ion-icon> -->
    </ion-item>
    <mat-menu #menuexport="matMenu">
      <button mat-menu-item ><ion-text class="font-size-12">Excel</ion-text></button>
      <button mat-menu-item ><ion-text class="font-size-12">PDF</ion-text></button>
    </mat-menu>
  </ion-toolbar>
  <ion-toolbar class="contentbody">
    <h1 class="font-bold-600 font-size-30 ion-padding-start">Inventaire</h1>
    <h1 class="font-bold-600 font-size-20 ion-padding-start">Dépôt : {{depositsent.name | titlecase}}</h1>
    <h1 class="font-bold-600 font-size-15 ion-padding-start">Date : {{appserv.today | date}}</h1>
  
  <ion-searchbar mode="ios" placeholder="Recherche" [(ngModel)]="search" #defaultinput></ion-searchbar>  
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress" ></ion-progress-bar>
</ion-header>
<ion-content class="contentbody">
  <mat-menu #animals2="matMenu">
    <button mat-menu-item><ion-text class="font-size-11" color="danger">Annuler le filtre</ion-text></button>
  </mat-menu>
   
  <ion-item lines="none" class="contentbody">
    <h1 class="font-bold-600 font-size-15">Produits ({{inventory.length}})</h1>
    <ion-chip class="cursor-pointer" slot="end" (click)="resetdeposit()" color="danger" [disabled]="inventory.length<=0">Réinitaliser</ion-chip>
  </ion-item>
  <hr class="hr">
  <ion-card class="bd-radius-10 ion-padding" *ngIf="inventory.length===0" color="warning" mode="ios">
    Aucun article ou service affecté au dépôt
  </ion-card>

  <ion-item mode="ios" class="default-list-item3 contentbody font-size-15"  lines="full" *ngFor="let article of inventory | filter:search" >
    <ion-avatar slot="start"><ion-icon name="image-outline"></ion-icon></ion-avatar>
    <ion-label>
      <ion-text class="item-label-title">{{article.service.name | titlecase}}</ion-text>
      <h4 class="secondpara font-size-11"><ion-note>Catégorie: {{article.category_name | titlecase}}</ion-note></h4>
    </ion-label>
    <ion-text slot="end" class="font-size-13">
      Qté. {{article.service.available_qte | number}} {{article.service.uom_symbol}}
    </ion-text>
  </ion-item>
</ion-content>


