
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="full">
      <ion-text class="font-bold-600 font-size-30" slot="start">Parrainage</ion-text>
    </ion-item>
  </ion-toolbar>
   <ion-searchbar class="font-size-11"  mode="ios" placeholder="Recherche" #defaultinput (ionInput)="handlesearchchange($event)"></ion-searchbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress" ></ion-progress-bar>
</ion-header>
<ion-content class="contentbody cartpreview-90">

  <ion-card class="bd-radius-10 ion-padding"  color="warning" *ngIf="listUsers.length===0">
    <ion-text class="font-size-13">Aucun agent disponible</ion-text>
  </ion-card>

  <ion-item class="default-list-item contentbody cursor-pointer"  lines="inset" *ngFor="let user of listUsers" detail="true" (click)="detailsponsoring(user)">
    <ion-avatar slot="start">
      <ion-img [src]="user.avatar?appserv.imgUrl+user.avatar:''" *ngIf="user.avatar"></ion-img>
      <ion-text class="font-bold-600 font-size-20"  *ngIf="!user.avatar">{{(user.full_name?user.full_name:user.user_name) | uppercase | slice:0:1 }}</ion-text>
    </ion-avatar>
    <ion-label>
      <p class="item-label-title"><ion-text>{{(user.full_name?user.full_name:user.user_name)|titlecase }}</ion-text></p>
      <p class="secondpara"><ion-text>{{user.user_name?user.user_name:user.note}}</ion-text></p>
    </ion-label>
    <ion-chip class="font-size-12 smalldevicehidden">{{user.uuid?user.uuid:user.description}}</ion-chip>
    <ion-chip class="font-size-12 smalldevicehidden">{{user.role_title?user.role_title:user.role_description?user.role_description:'aucune permission'}}</ion-chip>
    <ion-chip color="warning" slot="end" *ngIf="user.user_type==='super_admin'" class="smalldevicehidden">S.A</ion-chip>
  </ion-item>
</ion-content>




