<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="chevron-back-outline" (click)="closemodal()" slot="start"></ion-icon>
      <ion-text slot="start">Nouvelle Catégorie</ion-text>
      <ion-icon name="checkmark-outline" slot="end" size="large" (click)="addnewcategory()" color="success"></ion-icon> 
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="showcreatingprogress" mode="ios" color="primary"></ion-progress-bar>
</ion-header>
<ion-content class="contentbody" [fullscreen]="true">
  <div class="newrequestform">
    <form class="ion-padding form" [formGroup]="newcategoryform">
      <h2><ion-text>Informations sur la catégorie</ion-text></h2> 
      <ion-item lines="none">
        <ion-label>Nom</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Déscription</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Catégorie parent</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Fermer" formControlName="parent_id">
          <ion-select-option value="{{category.category.id}}" *ngFor="let category of listcategories">{{category.category.name}}</ion-select-option>
        </ion-select>
      </ion-item> 
    </form>
  </div>

  <ion-item lines="none" class="contentbody" (click)="showlistgroup=!showlistgroup">
    <ion-text color="primary" slot="end" class="font-size-12" > {{showlistgroup?'Cacher la liste':'Afficher la liste'}}</ion-text>
    <ion-icon name="chevron-down-outline" slot="end" size="small" *ngIf="!showlistgroup" ></ion-icon>
    <ion-icon name="chevron-up-outline" slot="end" size="small" *ngIf="showlistgroup" ></ion-icon>
  </ion-item>
  <div *ngIf="showlistgroup">
    <hr class="hr">
    <ion-list>
      <ion-list-header>
        <h2 class="font-size-15">Catégories disponibles</h2>
       </ion-list-header>
      <ion-searchbar mode="ios" class="font-size-11" placeholder="Rerchercher..."></ion-searchbar>
      <ion-item *ngFor="let categ of listcategories" class="contentbody default-list-item" lines="full" (click)="gotoedit(categ)">
        <ion-text class="item-label-title font-size-13">{{categ.category.name | titlecase}}</ion-text>
        <ion-icon name="document-outline" size="small" slot="end"></ion-icon>
        <ion-icon name="radio-button-on-outline" color="warning" slot="end" size="small" class="unreadbutton" *ngIf="categ.sync_status==='0'" ></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
