ion-content{
    --background:black;
}


 @-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
    img{
        -webkit-animation:rotate-in-center 1s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-center 1s cubic-bezier(.25,.46,.45,.94) both;
        width: 400px;
        height: 400px;
        margin-top:10%;
    }
}