<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="chevron-back-outline" size="large" color="primary" slot="start" (click)="appserv.closemodal()"></ion-icon>
      <h4 slot="start" class="font-bold-600 font-size-14" *ngIf="listToSend.length<=0">{{criteria==="multiple"?"Sélectionner les dépôts":"Sélectionner un  dépôt"}}</h4>
      <ion-text *ngIf="listToSend.length>0">{{listToSend.length}} Sélectionnés</ion-text>
      <ion-chip color="primary" *ngIf="listToSend.length>0" (click)="sendList()" slot="end">Valider</ion-chip>
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress" ></ion-progress-bar>
</ion-header> 
<ion-content class="contentbody">
    <ion-searchbar mode="ios" placeholder="Recherche" class="font-size-12" #search [(ngModel)]="searching"></ion-searchbar>
  <ion-list class="contentbody">
    <ion-item lines="full" *ngFor="let deposit of listdeposits | filter:searching" (click)="selected(deposit)" class="font-size-15 contentbody">
      <ion-text slot="start">{{deposit.name | titlecase}}</ion-text>
      <ion-icon slot="end" *ngIf="deposit.selected"  name="checkmark-circle-outline" color="success" size="small"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

