<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-text class="font-size-12" color="primary" (click)="closemodal()">Annuler</ion-text>
      <h4 slot="start" class="font-bold-600 font-size-14">Ajouter une référence</h4>
      <ion-icon name="checkmark-outline" size="large" color="success" (click)="addnew()" slot="end"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="contentbody">
    <ion-item lines="full" class="font-size-12 contentbody">
      <ion-input placeholder="Taper la référence du document..." type="text" [(ngModel)]="reference"></ion-input>
    </ion-item>
</ion-content>

