<ion-header>
    <ion-toolbar>
     <ion-item lines="none">
        <ion-text class="font-bold-600 font-size-30" slot="start">Selectionner une permission</ion-text>
      </ion-item>
        <ion-searchbar placeholder="Rechercher" [(ngModel)]="search" #defaultinput></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngFor="let group of (groupedPermissions | keyvalue) | filter:search" class="permission-card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="shield-checkmark-outline" class="icon-title"></ion-icon>
        {{ group.key | titlecase }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let permission of group.value">
          <ion-toggle
            [checked]="selectedPermissions.includes(permission)"
            (ionChange)="togglePermission($event, permission)">
            {{ permission.split('.')[1] | titlecase }}
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
<ion-button *ngIf="selectedPermissions.length>0" color="warning" mode="ios" (click)="sentResult()">
  Envoyer
</ion-button>
</ion-footer>