<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none" class="default-list-item">
      <ion-icon name="chevron-back-outline" color="warning" (click)="appserv.closemodal()" size="large"></ion-icon>
      <ion-avatar>
        <ion-img [src]="customersent.photo?appserv.imgUrl+customersent.photo:''" *ngIf="customersent.photo"></ion-img>
        <ion-icon [name]="customersent.type==='physique'?'person':customersent.type==='moral'?'people':'person'" size="large" *ngIf="!customersent.photo"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p class="item-label-title">{{customersent.customerName | titlecase}}</p>
        <p class="secondpara" *ngIf="customersent.category_name">
          <ion-note class="font-size-11">Catég. {{customersent.category_name | titlecase}}</ion-note>
        </p> 
        <p class="secondpara">
          <ion-note class="font-size-13 font-bold-600">Total général. {{generalsold | currency}} {{defaultmoney.abreviation}}</ion-note>
        </p>
      </ion-label>
      <ion-icon name="download-outline" color="warning" slot="end" [matMenuTriggerFor]="menuexport"></ion-icon>
      <!-- <ion-icon name="share-outline" color="warning" slot="end"></ion-icon> -->
      <ion-icon name="print-outline" slot="end"  size="small" color="warning" (click)="printlist()"></ion-icon>
    </ion-item>
    <mat-menu #menuexport="matMenu">
      <button mat-menu-item >Exporter en Excel</button>
      <!-- <button mat-menu-item >Exporter en PDF</button> -->
    </mat-menu>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none" class="contentbody margin-left-moins-15">
      <ion-searchbar class="font-size-11"  mode="ios" placeholder="Recherche"></ion-searchbar>
      <ion-icon name="calendar-outline" slot="end" color="warning" size="small" (click)="getdatesfilter()"></ion-icon>
      <ion-icon name="filter-outline" slot="end"  size="small" [matMenuTriggerFor]="animals2" color="warning"></ion-icon>
    
      <mat-menu #animals2="matMenu">
        <button mat-menu-item><ion-text class="font-size-12">Utilisées</ion-text></button>
        <button mat-menu-item><ion-text class="font-size-12">Non utilisées</ion-text></button>
      </mat-menu>
    
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress"></ion-progress-bar>
</ion-header>
<ion-content class="contentbody">
  <ion-list-header>
    <h2 class="font-size-16" *ngIf="from===to">Historique Cautions du {{from | date}}</h2>
    <h2 class="font-size-16" *ngIf="from!==to">Historique Cautions du {{from | date}} au {{to | date}}</h2>
  </ion-list-header>
      <ion-item lines="full" class="contentbody margin-top-moins-10">
        <ion-label>
          <p color="primary" class="font-size-12">Total déposées: {{appserv.defaultmoney.abreviation}} {{notused | number}}</p>
          <p color="danger" class="font-size-12">Total utilisées: {{appserv.defaultmoney.abreviation}} {{alreadyused | number}}</p>
          <p color="primary" class="font-size-12">Solde: {{appserv.defaultmoney.abreviation}} {{generalsold | number}}</p>
        </ion-label>
      </ion-item>
      <ion-item mode="ios" class="default-list-item3 contentbody"  lines="full" *ngFor="let caution of listcautions" >
        <ion-avatar slot="start"><ion-icon name="arrow-down"></ion-icon></ion-avatar>
        <ion-label>
          <h2 class="item-label-title">{{caution.created_at | date}}</h2>
          <h4 class="secondpara font-size-11"><ion-note color="danger">Utilisée: <ion-text class="font-size-11">{{caution.abreviation}} </ion-text> {{(caution.amount_used?caution.amount_used:0) | number}}</ion-note></h4>
        </ion-label>
        <ion-chip slot="end" class="font-size-14 font-bold-600 chipset" color="primary"><ion-text class="font-size-11">Solde :{{caution.abreviation}} &nbsp;</ion-text> {{caution.amount-caution.amount_used | number}}</ion-chip>
        <ion-chip slot="end" class="font-size-14 font-bold-600 chipset" color="success"><ion-text class="font-size-11">{{caution.abreviation}} &nbsp;</ion-text> {{caution.amount | number}}</ion-chip>
      </ion-item>
        <ion-card color="warning" mode="ios" class="ion-padding display-flex-center" *ngIf="listcautions.length<=0">
          <ion-text>Aucune donnée à afficher</ion-text> &nbsp;
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-card>

        <div  #printer_content hidden>
          <div class="font-size-12">
            <ion-text class="font-size-20 font-bold-600" *ngIf="posprintoptions.name && appserv.getactualEse().name">{{appserv.getactualEse().name | uppercase}}</ion-text> <br *ngIf="posprintoptions.name && appserv.getactualEse().name">
            <ion-text *ngIf="posprintoptions.adresse && appserv.getactualEse().adresse ">{{appserv.getactualEse().adresse}}</ion-text> <br *ngIf="posprintoptions.adresse && appserv.getactualEse().adresse ">
            <ion-text *ngIf="posprintoptions.description && appserv.getactualEse().description ">{{appserv.getactualEse().description}}</ion-text>
            <ion-text *ngIf="posprintoptions.num_impot && appserv.getactualEse().num_impot ">NUMERO IMPOT: {{appserv.getactualEse().num_impot}}</ion-text> <br *ngIf="posprintoptions.description && appserv.getactualEse().description ">
            <ion-text *ngIf="posprintoptions.national_identification && appserv.getactualEse().national_identification">ID. NAT.: {{appserv.getactualEse().national_identification}}</ion-text> <br *ngIf="posprintoptions.national_identification && appserv.getactualEse().national_identification">
            <ion-text *ngIf="posprintoptions.rccm && appserv.getactualEse().rccm">RCCM: {{appserv.getactualEse().rccm}}</ion-text> <br>
            <ion-text *ngIf="posprintoptions.phone && appserv.getactualEse().phone ">CONTACT: {{appserv.getactualEse().phone}}</ion-text> <br *ngIf="posprintoptions.phone && appserv.getactualEse().phone ">
          </div>
          <hr class="hr">
          <div class="suheader ion-no-padding">
            <h2 class="font-bold-600 font-size-16">Client : {{customersent.customerName | titlecase}}</h2>
            <h2 class="font-size-16" *ngIf="from===to">Historique Cautions du {{from | date}}</h2>
            <h2 class="font-size-16" *ngIf="from!==to">Historique Cautions du {{from | date}} au {{to | date}}</h2>
            <ion-item lines="full" class="contentbody margin-top-moins-10">
              <ion-label>
                <p color="primary" class="font-size-12">Total déposées: {{notused | currency}}</p>
                <p color="danger" class="font-size-12">Total utilisées:{{alreadyused | currency}}</p>
                <p color="primary" class="font-size-12">Solde:{{generalsold | currency}}</p>
              </ion-label>
            </ion-item>
            <ion-text class="font-size-10 ion-float-end">Date impression le {{appserv.today.toLocaleDateString('fr')}} à {{appserv.today.getHours()}}h {{appserv.today.getMinutes()}}min {{appserv.today.getSeconds()}}s</ion-text> <br>
            <ion-text class="font-size-10 ion-float-end">Par :{{appserv.getactualuser().user_name | titlecase}}</ion-text> <br>
          </div>
          <div class="body">
            <table border="1" style="width:100% ;font-size: 12px;">
              <thead>
                <tr>
                  <th class="text-left">N°</th>
                  <th class="text-left">OP.ID</th>
                  <th class="text-left">Date</th>
                  <th class="text-right">Montant</th>
                  <th class="text-right">Utilisée</th>
                  <th class="text-right">Solde</th>
                </tr>
              </thead>
              <tbody class="body">
                <tr *ngFor="let caution of listcautions; let i =index;">
                    <td>{{i+1}}</td>
                    <td>{{caution.uuid | uppercase}}</td>
                    <td>{{caution.created_at | date}}</td>
                    <td class="text-right">{{caution.amount | number}} {{caution.abreviation}}</td>
                    <td class="text-right">{{caution.amount_used?caution.amount_used:0}} {{caution.abreviation}}</td>
                    <td class="text-right">{{caution.amount-caution.amount_used}} {{caution.abreviation}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4" class="font-size-16 font-bold-600">TOTAL GENERAL</th>
                  <th colspan="2" class="font-size-16 font-bold-600 text-right">{{generalsold | number}} {{defaultmoney.abreviation | uppercase}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="newcaution()">
      <ion-fab-button color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
