<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="chevron-back-outline" (click)="closemodal()" slot="start"></ion-icon>
      <ion-text slot="start">Modifier catégorie</ion-text>
      <ion-icon name="checkmark-outline" slot="end" size="large" (click)="editcategory()" color="success"></ion-icon> 
    </ion-item>
    <ion-progress-bar type="indeterminate" *ngIf="showcreatingprogress" mode="ios"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content class="contentbody" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="12" sizeSm="12">
        <div class="newrequestform">
          <form class="ion-padding form" [formGroup]="newcategoryform">
            <h2><ion-text>Informations sur la catégorie</ion-text></h2> 
            <ion-item lines="none">
              <ion-label>Nom</ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Déscription</ion-label>
              <ion-input formControlName="description"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Catégorie parent</ion-label>
              <ion-select value="brown" okText="Okay" cancelText="Fermer" formControlName="parent_id">
                <ion-select-option value="{{category.category.id}}" *ngFor="let category of listcategories">{{category.category.name}}</ion-select-option>
              </ion-select>
            </ion-item> 
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

