<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="full">
      <ion-text class="font-bold-600 font-size-30" slot="start">Marges des dépenses({{listmargins.length}})</ion-text>
      <ion-icon name="add-circle-outline" slot="end" *ngIf="!showcheckbox && marginSetServ.appserv" size="large" color="primary" (click)="newmargin()"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" mode="ios" *ngIf="showprogress" ></ion-progress-bar>
</ion-header>
<ion-content class="contentbody" fullscreen="true">

  <ion-item lines="none" class="contentbody margin-left-moins-15">
    <ion-searchbar class="font-size-11"  mode="ios" placeholder="Recherche" [(ngModel)]="keyword"></ion-searchbar>
  </ion-item>

  <ion-card class="bd-radius-10 ion-padding"  color="warning" *ngIf="listmargins.length===0">
    <ion-text class="font-size-13">Aucune marge définie</ion-text>
  </ion-card>

  <ion-item class="default-list-item contentbody"  lines="inset" *ngFor="let margin of listmargins | filter:keyword" (click)="menumargin(margin)" detail="true">
    <ion-checkbox slot="start" *ngIf="showcheckbox" mode="ios" size="small"></ion-checkbox>
    <ion-avatar slot="start">
      <ion-icon name="book-outline" size="small"></ion-icon>
    </ion-avatar>
    <ion-label>
      <p class="item-label-title font-size-15"><ion-text>{{(margin.description)|titlecase }}</ion-text></p>
      <p class="secondpara"><ion-text>Montant Minimum: {{(margin.minimum) | number}} {{margin.abreviation}}</ion-text></p>
      <p class="secondpara"><ion-note class="font-size-11">Montant maximum: {{margin.maximum | number}} {{margin.abreviation}}</ion-note></p>
    </ion-label>
  </ion-item>
</ion-content>
