<ion-content>
  <ion-row class="cardBox">
    <ion-col size="12" class="card" style="background: #8de02c;
    ">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Planned</div>
        </div>

        <div class="iconBx">
            <ion-icon name="code-outline"></ion-icon>
        </div>
    </ion-col>

    <ion-col size="12" class="card" style="background: #e9b10a;">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">To use</div>
        </div>

        <div class="iconBx">
            <ion-icon name="hammer-outline"></ion-icon>
        </div>
    </ion-col>

    <ion-col size="12" class="card" style="background: #1795ce;">
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Stay</div>
        </div>

        <div class="iconBx">
            <ion-icon name="briefcase-outline"></ion-icon>
        </div>
    </ion-col>
  </ion-row>
  <div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Recent operations</h2>
            <a href="#" class="btn">View All</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Compte</td>
                    <td>Planned</td>
                    <td>To use</td>
                    <td>Status</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="compteName">Star Refrigerator</td>
                    <td style="text-align: right;">$1200</td>
                    <td style="text-align: right;">$1000</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>

                <tr>
                    <td class="compteName">Dell Laptop</td>
                    <td style="text-align: right;">$110</td>
                    <td style="text-align: right;">$0</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>

                <tr>
                    <td class="compteName">Apple Watch</td>
                    <td style="text-align: right;">$1200</td>
                    <td style="text-align: right;">$1000</td>
                    <td><span class="status return">Return</span></td>
                </tr>

                <tr>
                    <td class="compteName">Addidas Shoes</td>
                    <td style="text-align: right;">$620</td>
                    <td style="text-align: right;">$0</td>
                    <td><span class="status inProgress">In Progress</span></td>
                </tr>

                <tr>
                    <td class="compteName">Star Refrigerator</td>
                    <td style="text-align: right;">$1200</td>
                    <td style="text-align: right;">$1000</td>
                    <td><span class="status delivered">Delivered</span></td>
                </tr>

                <tr>
                    <td class="compteName">Dell Laptop</td>
                    <td style="text-align: right;">$110</td>
                    <td style="text-align: right;">$0</td>
                    <td><span class="status pending">Pending</span></td>
                </tr>

                <tr>
                    <td class="compteName">Apple Watch</td>
                    <td style="text-align: right;">$1200</td>
                    <td style="text-align: right;">$1000</td>
                    <td><span class="status return">Return</span></td>
                </tr>

                <tr>
                    <td class="compteName">Addidas Shoes</td>
                    <td style="text-align: right;">$620</td>
                    <td style="text-align: right;">$0</td>
                    <td><span class="status inProgress">In Progress</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</ion-content>
