ion-checkbox {
    --size:15px !important;
  }
  
  mat-menu{
    button{
      padding: none!important;
    }
  }

  ion-alert textarea.shake {
  animation: shake 0.3s;
  border: 1px solid #e74c3c !important;
  background-color: #ffeaea !important;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

.status-badge {
  font-size: 9px;
  font-weight: 600;
  padding: 1px 5px !important;
  height: auto !important;
  line-height: 1 !important;
  border-radius: 12px !important;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
}

