
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-outline" size="small" slot="start" (click)="appserv.closemodal()"></ion-icon>
      <ion-text slot="start">Facturation</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="contentbody">
  <br>
  <ion-list class="contentbody">
    <ion-list-header>
      <ion-text class="font-size-20 font-bold-500">Types facture</ion-text>
    </ion-list-header>
    <ion-item class="contentbody margin-btm-10" (click)="selected(type)" *ngFor="let type of types" >
      <ion-avatar slot="start">
        <ion-img [src]="type.img" *ngIf="type.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2 class="font-size-13">{{type.title}}</h2>
        <p class="font-size-12">{{type.description}}</p>
      </ion-label>
      <ion-icon name="checkmark-circle-outline" size="large" color="primary" *ngIf="type.selected" ></ion-icon>
    </ion-item>  
  </ion-list>  
</ion-content>
